# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

/node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

.idea
