@font-face {
    font-family: 'icons';
    src: url('./font.woff');
}

.mapped {
    background-image: url('./mapped.png');
}

.host {
    background-image: url('//example.com');
}

.protocol {
    background-image: url('https://example.com');
}
